section#contact
	h2.ttl.font contact
	div.contact__wrap
		div.contact__txt
			|作品をご覧になったご意見・ご感想など、<br>
			|ございましたらこちらにお願いいたします。
		div.btnBox
			a(href="mailto:manamisato2001@gmail.com").mail.btn_white manamisato2001@gmail.com