meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
meta(name="format-detection", content="telephone=no")
meta(name="keywords", content="")
meta(name="description", content="周の写真ポートフォリオサイトです")
meta(name="twitter:card", content="summary")
//- meta(name="twitter:site", content="@twitteraccount")
meta(property="og:site_name", content="Philosophia｜Amane Portfolio site")
meta(property="og:title", content="Philosophia｜Amane Portfolio site")
meta(property="og:description", content="周の写真ポートフォリオサイトです。")
meta(property="og:url", content="http://click.ecc.ac.jp/ecc/msatou/portfolio_photo/")
meta(property="og:image", content="img/main.jpeg")
meta(property="og:image:type", content="image/jpeg")
meta(property="og:image:width", content="600")
meta(property="og:image:height", content="400")
meta(property="og:type" content="website")
link(rel="preconnect",href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap",rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap",rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap",rel="stylesheet")
link(rel="shortcut icon", href="img/favicon.png", type="image/vnd.microsoft.icon")
link(rel="apple-touch-icon", href="img/favicon.png")
link(rel="preconnect",href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap",rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap",rel="stylesheet")