doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet",href="css/webPage.css")
		title userella｜佐藤真奈実 ポートフォリオ
	body
		header
			include _nav.pug
		main
			div.webPageWrap
				div.webPageInfo
					div.webPageImg
						img(src="img/web_01_userella.png")
					div.sort 1年後期
					h2 userella
					dl
						dt 作業形態
						dd グループ制作
						dt 役割
						dd
							|LPサイトコーディング／ロゴ作成／<br>
							|アプリバナーのデザイン
						dt 使用言語
						dd HTML5／CSS3／JavaScript
					div.link
						a(href="http://click.ecc.ac.jp/ecc/msatou/userella/",target="site")
							span LPサイトへ
						a(href="https://github.com/manami-sato/userella",target="github")
							span GitHubへ
						a(href="works_graphic.html#userella",target="graphic")
							span グラフィック物へ
				div.conceptsheet
					img(src="img/conceptsheet_01_userella.png")
			a(href="works_web.html",target="page",class="arrow")
				span back
		include _foot.pug