doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/works_web.css")
		title web site｜佐藤真奈実 ポートフォリオ
	body
		header
			include _nav.pug
		main
			h2.font.ttl works
			div.font.ttlTxt
				div.fix web site
				a(href="works_graphic.html",target="page").tab graphic
				a(href="works_practice.html",target="page").tab practice
			include _webSort.pug
			div.works__wrap
				article
					div.works__img
						img()
					div.works__ttl
						h3
						div.web__itemBox
							div.sort
					div.works__txt
					a(target="web").btn_yellow more
				div.graphic__other.font coming soon	
			include _contact.pug
		include _scrollTop.pug
		include _foot.pug
		script(src="js/common.js")
		script(src="js/works.js")
		script(src="js/web.js")